{{ define "main" }}
<div class="page-coupons">
    <h1>全部优惠券</h1>
    <div class="coupon-list">
        {{ range .Site.Data.coupons.coupons }}
        <div class="coupon-item">
            <div class="coupon-thumbnail">
                <img src="{{ .thumbnail }}" alt="{{ .name }}" />
            </div>
            <div class="coupon-content">
                <div class="coupon-name">{{ .name }}</div>
                <div class="coupon-amount">{{ .amount }}</div>
                <div class="coupon-rules">{{ .rules }}</div>
                <a href="/coupons/{{ .id }}/" class="coupon-link">
                    查看详情
                </a>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}