{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
        <p>Published on {{ .Date.Format "January 2, 2006" }}</p>
        {{ with .Params.author }}
            <p>By {{ . }}</p>
        {{ end }}
    </header>

    <div class="content">
        {{ .Content }}
    </div>

    <footer>
        <p>Tags: {{ range .Params.tags }}<a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ if not (last .Params.tags) }}, {{ end }}{{ end }}</p>
    </footer>
</article>
{{ end }}

<div class="social-share">
    <a href="https://twitter.com/share?url={{ .Permalink }}" target="_blank">Share on Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">Share on Facebook</a>
 </div>
 